@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing:border-box;
}


body{
    display:flex;
    align-items:center;
    justify-content: center;
    height:100vh;
    background-color:#cccccc;
}

#calculator{
    display : flex;
    flex-direction : column;
    gap : 8px;
    background-color:#060505;
    border-radius:20px;
    margin:0px;
    padding:15px;
    width: 90vw;
    max-width:350px;
    aspect-ratio:3/5;
    font-family:"Montserrat";
    font-weight:600;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

.row{
    display:flex;
    flex:1;
    flex-direction:row;
    gap : 8px;
    width:100%;
}

.btn {
    color:aliceblue;
    background-color:#242222;
    border-radius: 12px;
    margin:0px;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    cursor:pointer;
    flex:1;
}

#display{
    padding: 15px;
    height:50px;
    width:100%;
    color:aliceblue;
    font-weight:200;
    font-size:2.5rem;
    display:flex;
    flex:1.5;
    flex-direction:column;
    justify-content:flex-end; /*aligns to the bottom*/
    align-items:flex-end; /*align items to the right*/
    overflow:hidden; /* keep overflowing numbers inside box*/
}

#equal{
    border-radius: 12px;
    flex:2.5;
}

